<%- include('./partials/header.ejs')%>

    <div class="line1"></div>

    <main class="main-index">
        <div class="container-lg p-sm-5 pb-xxl-0" style="height: 600px;">
            <section class = "h-100 container-fluid pe-auto">
                <div class="p-5 ms-auto">
                    <h1 class="mb-3"><i class="fa-regular fa-chess-queen"></i>   Queen City Food Trucks</h1>

                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Charlotte, NC</p>
                    <p>
                    <i class="fas fa-envelope me-3"></i>
                    tdavi181@charlotte.edu
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 984 324 322</p>
                </div>
                
            </section>
        </div>
        
    </main>
    
    
    <div class="line1"></div>

    <%- include('./partials/footer.ejs')%>