<%- include('./partials/header.ejs')%>

    <div class="line1"></div>

    <main class="main-index">
        <div class="container-lg p-sm-5 pb-xxl-0" style="height: 600px;">
            <section class = "h-100 container-fluid pe-auto">
                <div class="p-5 ms-auto">
                    <h1 class="mb-3"><i class="fa-regular fa-chess-queen"></i>   Queen City Food Trucks</h1>
                    <p>On the hunt for some of the best food trucks in the Charlotte area? Look no further!</p>

                    <p>Queen City Food Trucks is a website that provides all the information you need to try some of the 
                        best food trucks in the area all in one convenient place -- You're Welcome
                    </p>
                </div>
                
            </section>
        </div>
        
    </main>
    
    
    <div class="line1"></div>

    <%- include('./partials/footer.ejs')%>