/*Accessability*/
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 120px;
    height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 0px; /*this had to be bigger than the footer height*/
}

:root {
    --main-color: rgb(161, 176, 176);
}

/*BEGINNING OF INDEX.HTML*/

.line1 {
    height: 1px;
    background: rgb(142, 141, 141);
}

.navbar ul li a:hover {
    color: rgba(11, 11, 11, 0.869);
    transition: .20s;
    font-weight: bold;
}

.nav-size {
    width: 1000px;
}

.navbar-one li {
    padding: 20px;
    font-size: 20px;
}

.navbar-two li {

}

/*NAVIGATION BAR*/
.navbar-custom {
    background-color: var(--main-color)
}

.copyright-custom{
    background-color: var(--main-color);
}

/*FOOTER*/

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top: 150px;
}

/*END OF INDEX.HTML*/

/*BEGINNING OF EVENTS.HTML*/
  
/*END OF EVENTS.HTML*/